{% extends 'base.html' %}

{% block title %} О себе {% endblock %}

{% block content %}
    <div>
            <h1>Страница о себе</h1>
            <img src= "https://upload.wikimedia.org/wikipedia/de/thumb/e/e6/Volga-Dnepr_Group_logo.svg/375px-Volga-Dnepr_Group_logo.svg.png" alt="logo">

            <div class="text">
                <p>Всем привет! Меня зовут Артем, и это мое первое представление на Django!</p>
                <p>Мне 31 год и я являюсь Инженером по ТО АТ по АиРЭО в группе компаний Волга-Днепр.</p>
                <p>С начала санкций я решил немного сменить профессию и пришел учиться на GeekBrains.</p>
                <p>Надеюсь у меня все получится!</p>
            </div>
       </div>

        <br>
{% endblock %}